.menu-tablet {
    display: none;
}

.menu-principal {
    background: #000;
    height: 64px;
}

.nav-links {
    color: gray;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-family: "Sedan", serif;
    font-size: 18px;
    text-decoration: none;
}

.nav-links:hover {
    color: #fff;
    transition: 0.4s ease-out;
}

.botao-buscar-nav {
    color: #fff;
    border-radius: 0;
    border: 1px solid white;
    font-family: "Sedan", serif;
}

.input-navbar {
    border-radius: 0 !important;
    font-family: "Sedan", serif;
    font-size: 16px;
}

.botao-buscar-nav:hover {
    color: black;
    background: #fff;
}

.div-carousel {
    width: 1519px;
    margin-left: -24px;
}

.h2-buscar-categoria {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    text-align: center;
}

.img-height-190 {
    height: 190px;
}

.div-card {
    --bs-bg-opacity: 1;
    background: #000;
    color: white;
    text-align: center;
}

.botao-lilas {
    background-color: #9353FF;
}

.section-facilidades {
    padding-top: 4em;
    padding-bottom: 4em;
    background: #000;
    margin-left: -12px;
    width: 1519px;
}

.text-white {
    color: #fff;
}

/*Responsive*/

@media (max-width: 320px) {

    .menu-principal {
        display: none;
    }

    .menu-tablet {
        display: block;
        background: #000;
        height: 260px;
    }

    .bg-dark-000 {
        background-color: #000;
    }

    .button-bar {
        position: absolute;
        margin-left: 200px;
        width: 65px;
        margin-top: -43px;
        border: 1px solid white !important;
        border-radius: 0px !important;
    }

    .div-bar {
        margin-top: 4px;
        margin-left: -12px;
        width: 320px;
    }

    .input-navbar {
        border-radius: 0 !important;
        font-family: "Sedan", serif;
        font-size: 16px;
        width: 195px;
    }

    .div-carousel {
        width: 320px;
        margin-left: -24px;
    }

    .img-height-190 {
        height: 200px;
    }

}

@media (min-width: 321px) and (max-width: 376px) {

    .menu-principal {
        display: none;
    }

    .menu-tablet {
        display: block;
        background: #000;
        height: 260px;
    }

    .bg-dark-000 {
        background-color: #000;
    }

    .button-bar {
        position: absolute;
        margin-left: 255px;
        width: 65px;
        margin-top: -43px;
        border: 1px solid white !important;
        border-radius: 0px !important;
    }

    .div-bar {
        margin-top: 4px;
        margin-left: -12px;
        width: 375px;
    }

    .input-navbar {
        border-radius: 0 !important;
        font-family: "Sedan", serif;
        font-size: 16px;
        width: 300px;
    }

    .div-carousel {
        width: 375px;
        margin-left: -24px;
    }

}

@media (min-width:  377px) and (max-width: 576px) {

    .menu-principal {
        display: none;
    }

    .menu-tablet {
        display: block;
        background: #000;
        height: 260px;
    }

    .bg-dark-000 {
        background-color: #000;
    }

    .button-bar {
        position: absolute;
        margin-left: 300px;
        width: 65px;
        margin-top: -43px;
        border: 1px solid white !important;
        border-radius: 0px !important;
    }

    .div-bar {
        margin-top: 4px;
        margin-left: -12px;
        width: 106%;
    }

    .input-navbar {
        border-radius: 0 !important;
        font-family: "Sedan", serif;
        font-size: 16px;
        width: 300px;
    }

    .div-carousel {
        width: 426px;
        margin-left: -24px;
    }

}

@media (min-width: 577px) and (max-width: 768px) {

    .menu-principal {
        display: none;
    }

    .navbar-toggler:checked~.div-carousel {
        margin-top: 200px;
    }

    .menu-tablet {
        display: block;
        background: #000;
        height: 260px;
    }

    .bg-dark-000 {
        background-color: #000;
    }

    .button-bar {
        position: absolute;
        margin-left: 630px;
        width: 65px;
        margin-top: -43px;
        border: 1px solid white !important;
        border-radius: 0px !important;
    }

    .div-bar {
        margin-top: 4px;
        margin-left: -12px;
        width: 768px;
        margin-bottom: 200px !important;
    }

    .div-carousel {
        width: 768px;
        margin-left: -24px;
    }

    .div-card-height-228 {
        height: 228px;
    }

}
  
@media (min-width: 993px) and (max-width: 1200px) {

    .menu-tablet {
        display: none;
    }

    .div-carousel {
        width: 1024px;
        margin-left: -24px;
    }
    
    .img-height-190 {
        height: 250px;
    }

}